flows.json
[
    {
        "id": "e4af2e94d7e201bc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bba54cf6155d72a",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "TEMP1",
        "topic": "TEMP1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63d0689d5b2b182",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "c3a8212afd987e6c",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "HUMI2",
        "topic": "HUMI2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "77a5dc1caa60c135",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "fa4583aef0ef833e",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "PH3",
        "topic": "PH3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cc8ee2cb3a701be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "d0c821f19cf8be3c",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "TEMP4",
        "topic": "TEMP4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "059172d997872118",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "f674566c6708fcb7",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "HUMI5",
        "topic": "HUMI5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2951299fe4d6b32f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "dda17f5724cd111d",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "MOTOR1",
        "topic": "MOTOR1",
        "qos": "",
        "retain": "",
        "broker": "956d8c5f63cd0cfb",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "e36774f889b30ab3",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "MOTOR2",
        "topic": "MOTOR2",
        "qos": "",
        "retain": "",
        "broker": "d2b7b279f1f541f7",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "95d7b84cb3dd86f6",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "MOTOR3",
        "topic": "MOTOR3",
        "qos": "",
        "retain": "",
        "broker": "17897c5035894061",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "a40ec12d70c75774",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {"t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "1", "tot": "num"},
            {"t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "0", "tot": "num"}
        ],
        "action": "", "property": "", "from": "", "to": "", "reg": false,
        "x": 240, "y": 280,
        "wires": [["dda17f5724cd111d"]]
    },
    {
        "id": "1235db7dd7311154",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {"t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "1", "tot": "num"},
            {"t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "0", "tot": "num"}
        ],
        "action": "", "property": "", "from": "", "to": "", "reg": false,
        "x": 240, "y": 360,
        "wires": [["e36774f889b30ab3"]]
    },
    {
        "id": "ca629faa61fd5be9",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {"t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "1", "tot": "num"},
            {"t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "0", "tot": "num"}
        ],
        "action": "", "property": "", "from": "", "to": "", "reg": false,
        "x": 240, "y": 440,
        "wires": [["95d7b84cb3dd86f6"]]
    },
    {
        "id": "d4e9cdec4c7c324d",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 1",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 23;\n\nif (value >= min && value <= max) {\n    return [msg, null];\n} else {\n    msg.payload = \"ค่าชั่วโมงต้องอยู่ระหว่าง 0-23 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2, "timeout": 0, "noerr": 0,
        "x": 260, "y": 940,
        "wires": [["e830f5e60b434e02"],[]]
    },
    {
        "id": "e830f5e60b434e02",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "SET_RUNTIME1_HOUR",
        "topic": "SET_RUNTIME1_HOUR",
        "qos": "", "retain": "",
        "broker": "1245ab5b3150a922",
        "x": 530, "y": 940,
        "wires": []
    },
    {
        "id": "f63d0689d5b2b182",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "", "clientid": "", "autoConnect": true, "usetls": true, "protocolVersion": "4", "keepalive": "60", "cleansession": true
    }
]
