flows.json
[
    {
        "id": "e4af2e94d7e201bc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bba54cf6155d72a",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "TEMP1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63d0689d5b2b182",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "e49cd0d45b388068"
            ]
        ]
    },
    {
        "id": "c3a8212afd987e6c",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "HUMI2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "77a5dc1caa60c135",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "50d2637c508f8942"
            ]
        ]
    },
    {
        "id": "fa4583aef0ef833e",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "PH3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cc8ee2cb3a701be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "7617e3ca88f1c9e4"
            ]
        ]
    },
    {
        "id": "d0c821f19cf8be3c",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "TEMP4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "059172d997872118",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "3b7495fec73bbad0"
            ]
        ]
    },
    {
        "id": "f674566c6708fcb7",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "HUMI5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2951299fe4d6b32f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 120,
        "wires": [
            [
                "afb5556efb2dfb7f"
            ]
        ]
    },
    {
        "id": "dda17f5724cd111d",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MOTOR1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "956d8c5f63cd0cfb",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "e36774f889b30ab3",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MOTOR2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2b7b279f1f541f7",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "95d7b84cb3dd86f6",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MOTOR3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "a40ec12d70c75774",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "dda17f5724cd111d"
            ]
        ]
    },
    {
        "id": "1235db7dd7311154",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "e36774f889b30ab3"
            ]
        ]
    },
    {
        "id": "ca629faa61fd5be9",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "95d7b84cb3dd86f6"
            ]
        ]
    },
    {
        "id": "e5e98e5697960634",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_MOTOR1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "aa8beb423c318887"
            ]
        ]
    },
    {
        "id": "c5441c505fa61451",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_MOTOR2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac67fc81d042df79",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "f10a8840a41b7520"
            ]
        ]
    },
    {
        "id": "1e9a40993011d602",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_MOTOR3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e10f8e8c0d3bba8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "a345caf10d806d9e"
            ]
        ]
    },
    {
        "id": "f4bca395f78dc40c",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "acd10d478754d651"
            ]
        ]
    },
    {
        "id": "54a4b55e9d4c0902",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 580,
        "wires": [
            [
                "40ee5967b154a257"
            ]
        ]
    },
    {
        "id": "1e275210054a017a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "5712e78075c8b0cd"
            ]
        ]
    },
    {
        "id": "e79bc246914626bf",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "82b94876b93a3173"
            ]
        ]
    },
    {
        "id": "f6eeea1acc537d72",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "6f4123eb2e493804"
            ]
        ]
    },
    {
        "id": "a5b1c640449ed7fa",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 820,
        "wires": [
            [
                "6173d2449e22138e"
            ]
        ]
    },
    {
        "id": "c6c8acc9d2b320da",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 880,
        "wires": [
            [
                "984e829f2f377843"
            ]
        ]
    },
    {
        "id": "acd10d478754d651",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SUNDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "40ee5967b154a257",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MONDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83a367ef19d4c280",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "5712e78075c8b0cd",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "TUESDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "82b94876b93a3173",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "WEDNESDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "6f4123eb2e493804",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "THURSDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 450,
        "y": 760,
        "wires": []
    },
    {
        "id": "6173d2449e22138e",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "FRIDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 440,
        "y": 820,
        "wires": []
    },
    {
        "id": "984e829f2f377843",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SATURDAY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 450,
        "y": 880,
        "wires": []
    },
    {
        "id": "308dfc47df557c43",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_SUNDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "a1c7c3a20bac4a02"
            ]
        ]
    },
    {
        "id": "872fefb86de38afe",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_MONDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "de706f14e9ecbfed"
            ]
        ]
    },
    {
        "id": "959afa3cd9be7881",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_TUESDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "7928a7ad9fe7de13"
            ]
        ]
    },
    {
        "id": "be9a3e045b54ee2b",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_WEDNESDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "7f740b226a6447ac"
            ]
        ]
    },
    {
        "id": "2ebcfb9f5319c46b",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_THURSDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "278adb5afbb697b7",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_FRIDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "dfcf3b3038dd223b"
            ]
        ]
    },
    {
        "id": "22c4ac6d8f0d30b7",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_SATURDAY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f77260aa5e6da41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "8186e0ddb965529b"
            ]
        ]
    },
    {
        "id": "e830f5e60b434e02",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME1_HOUR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1245ab5b3150a922",
        "x": 530,
        "y": 940,
        "wires": []
    },
    {
        "id": "d4e9cdec4c7c324d",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 1",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 23;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าชั่วโมงต้องอยู่ระหว่าง 0-23 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 940,
        "wires": [
            [
                "e830f5e60b434e02"
            ],
            [
                "1deca21265aa7fb9",
                "230235d756505a80"
            ]
        ]
    },
    {
        "id": "f4ef632fb9b1563b",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 2",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 59;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-59 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1060,
        "wires": [
            [
                "202f4bc4f57152cb"
            ],
            [
                "9d3f13ae87125c75"
            ]
        ]
    },
    {
        "id": "202f4bc4f57152cb",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME1_MINS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e6415f0370d9f5e",
        "x": 590,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a063d0fad8d949f7",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_PERIOD_TIME_1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70db94354670b709",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "080edf5c95e10621",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 3",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 60;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าระยะเวลาทำงานต้องอยู่ระหว่าง 0-60 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1200,
        "wires": [
            [
                "a063d0fad8d949f7"
            ],
            [
                "086ab2ac41a72b76"
            ]
        ]
    },
    {
        "id": "d8d66778a58dcf95",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1020,
        "wires": [
            [
                "96f0179a235ae34a"
            ]
        ]
    },
    {
        "id": "96f0179a235ae34a",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "RUNTIME1_ON_OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8386640661fdc3b2",
        "x": 1220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3ef2416c86a72efe",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_RUNTIME1_ON_OFF",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2648528be545667a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "420a1f9ac141a1ec"
            ]
        ]
    },
    {
        "id": "c5105558eba7a1a3",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME2_HOUR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1245ab5b3150a922",
        "x": 530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "be08b8cfa95169a6",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 4",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 23;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าชั่วโมงต้องอยู่ระหว่าง 0-23 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1400,
        "wires": [
            [
                "c5105558eba7a1a3"
            ],
            [
                "d8e96d96173ec1b6",
                "609b1cbe707d557a"
            ]
        ]
    },
    {
        "id": "e8b475a878dcfcad",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 5",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 59;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-59 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1520,
        "wires": [
            [
                "4487af9f65142bdc"
            ],
            [
                "dadf7e0d39e2f2f7"
            ]
        ]
    },
    {
        "id": "4487af9f65142bdc",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME2_MINS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e6415f0370d9f5e",
        "x": 590,
        "y": 1520,
        "wires": []
    },
    {
        "id": "519f85814b1618b4",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_PERIOD_TIME_2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70db94354670b709",
        "x": 610,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d73e4f373fca3a27",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 6",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 60;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าระยะเวลาทำงานต้องอยู่ระหว่าง 0-60 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1660,
        "wires": [
            [
                "519f85814b1618b4"
            ],
            [
                "e2a03dd9de8185a7"
            ]
        ]
    },
    {
        "id": "06d2a69d363a6acf",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME3_HOUR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1245ab5b3150a922",
        "x": 530,
        "y": 1840,
        "wires": []
    },
    {
        "id": "5c3125bcbc590377",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 7",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 23;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าชั่วโมงต้องอยู่ระหว่าง 0-23 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1840,
        "wires": [
            [
                "06d2a69d363a6acf"
            ],
            [
                "0aa5aab249f3cabf",
                "708a86af44942746"
            ]
        ]
    },
    {
        "id": "e8e3abe16b7678f8",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 8",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 59;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-59 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1960,
        "wires": [
            [
                "7a01e2c940120847"
            ],
            [
                "bdbba13d50672beb"
            ]
        ]
    },
    {
        "id": "7a01e2c940120847",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_RUNTIME3_MINS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e6415f0370d9f5e",
        "x": 590,
        "y": 1960,
        "wires": []
    },
    {
        "id": "64b24f994a78b091",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "SET_PERIOD_TIME_3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70db94354670b709",
        "x": 610,
        "y": 2120,
        "wires": []
    },
    {
        "id": "c9b5d95a60256fcc",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 9",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 60;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่าระยะเวลาทำงานต้องอยู่ระหว่าง 0-60 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2100,
        "wires": [
            [
                "64b24f994a78b091"
            ],
            [
                "0a4427bf45cdc5cc"
            ]
        ]
    },
    {
        "id": "b1d9d921d5f4eb64",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "RUNTIME2_ON_OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9e963397f7d6f15",
        "x": 1180,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a15f4bafd4131f1b",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_RUNTIME2_ON_OFF",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2648528be545667a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "12e114f5ab37bb78"
            ]
        ]
    },
    {
        "id": "e9440f81ad8eac9e",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1840,
        "wires": [
            [
                "b5e90997d5fd939d"
            ]
        ]
    },
    {
        "id": "b5e90997d5fd939d",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "RUNTIME3_ON_OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8386640661fdc3b2",
        "x": 1200,
        "y": 1840,
        "wires": []
    },
    {
        "id": "62380a75f161ef96",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LAMP_RUNTIME3_ON_OFF",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2648528be545667a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 1900,
        "wires": [
            [
                "0e75b80e087b429d"
            ]
        ]
    },
    {
        "id": "5b4a8c1cfce83e4d",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 10",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 100;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-100 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2300,
        "wires": [
            [
                "3ac0d80208973ee5"
            ],
            [
                "c086a10ebd50ad57"
            ]
        ]
    },
    {
        "id": "3ac0d80208973ee5",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "CONTROL_TEMP1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 710,
        "y": 2280,
        "wires": []
    },
    {
        "id": "2dfcd66a85c099bf",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 11",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 100;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-100 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2380,
        "wires": [
            [
                "1df145d91cb1b293"
            ],
            [
                "0f43c8de9349c798"
            ]
        ]
    },
    {
        "id": "1df145d91cb1b293",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "CONTROL_HUMI1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 710,
        "y": 2360,
        "wires": []
    },
    {
        "id": "f8510ce0d44bdbe5",
        "type": "function",
        "z": "e4af2e94d7e201bc",
        "name": "function 12",
        "func": "let value = Number(msg.payload);\nlet min = 0;\nlet max = 100;\n\nif (value >= min && value <= max) {\n    // ค่าถูกต้อง: ส่งข้อมูลออกไปที่ช่องทางที่ 1\n    // และส่ง null ไปช่องทางที่ 2 (ไม่มีการแจ้งเตือน)\n    return [msg, null];\n} else {\n    // ค่าผิดพลาด: ไม่ส่งข้อมูลไปช่องทางที่ 1\n    // และสร้างข้อความแจ้งเตือนส่งไปช่องทางที่ 2\n    msg.payload = \"ค่านาทีต้องอยู่ระหว่าง 0-100 เท่านั้น!\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2460,
        "wires": [
            [
                "d0b73cb62ca2b472"
            ],
            [
                "a318807179030cc2"
            ]
        ]
    },
    {
        "id": "d0b73cb62ca2b472",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "CONTROL_HUMI2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17897c5035894061",
        "x": 710,
        "y": 2440,
        "wires": []
    },
    {
        "id": "8972f58dbccaf529",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MORE_TEMP1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 700,
        "y": 2560,
        "wires": []
    },
    {
        "id": "8e13be593ef903fb",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LESS_TEMP1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 700,
        "y": 2620,
        "wires": []
    },
    {
        "id": "5b52d8f4b61330da",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MORE_HUMI1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 560,
        "y": 2700,
        "wires": []
    },
    {
        "id": "5cb925b0d9b46d89",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LESS_HUMI1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 560,
        "y": 2800,
        "wires": []
    },
    {
        "id": "62de3d910525cb73",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "MORE_HUMI2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 560,
        "y": 2920,
        "wires": []
    },
    {
        "id": "17b9183716c90f84",
        "type": "mqtt out",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "LESS_HUMI2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "059172d997872118",
        "x": 560,
        "y": 3000,
        "wires": []
    },
    {
        "id": "f80c2e1bfd1c208d",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2560,
        "wires": [
            [
                "8972f58dbccaf529"
            ]
        ]
    },
    {
        "id": "57604ab0e66aa8dd",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2620,
        "wires": [
            [
                "8e13be593ef903fb"
            ]
        ]
    },
    {
        "id": "a20736896c12cbd3",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 2700,
        "wires": [
            [
                "5b52d8f4b61330da"
            ]
        ]
    },
    {
        "id": "000a0b161642883c",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 2800,
        "wires": [
            [
                "5cb925b0d9b46d89"
            ]
        ]
    },
    {
        "id": "c831a1d2ef4beee6",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 2920,
        "wires": [
            [
                "62de3d910525cb73"
            ]
        ]
    },
    {
        "id": "13d8892096abc7ab",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 3000,
        "wires": [
            [
                "17b9183716c90f84"
            ]
        ]
    },
    {
        "id": "420a1f9ac141a1ec",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1080,
        "wires": [
            [
                "43c22853317d3ed0"
            ]
        ]
    },
    {
        "id": "7f0f86de42521e98",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1280,
        "wires": [
            [
                "b1d9d921d5f4eb64"
            ]
        ]
    },
    {
        "id": "12e114f5ab37bb78",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1460,
        "wires": [
            [
                "ded33a122952fcaf"
            ]
        ]
    },
    {
        "id": "0e75b80e087b429d",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1900,
        "wires": [
            [
                "6358be2185a8dd71"
            ]
        ]
    },
    {
        "id": "1c5de1cde71c2c12",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "Alarm_nammailai",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8386640661fdc3b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 3080,
        "wires": [
            [
                "635e2f734189bf6e",
                "be8aa2a4266c5c54"
            ]
        ]
    },
    {
        "id": "0acb9514b5cb6550",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "Alarm_nammod",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8b8308d7d21d06aa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 3220,
        "wires": [
            [
                "fa76866dee041539",
                "1bacfa2da5b42dbe"
            ]
        ]
    },
    {
        "id": "c69c9684e0e05de0",
        "type": "mqtt in",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "topic": "Alarm_overload",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2951299fe4d6b32f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 3360,
        "wires": [
            [
                "334cacbb9c6dafc3",
                "d4bc190d922f5d21"
            ]
        ]
    },
    {
        "id": "e49cd0d45b388068",
        "type": "ui-gauge",
        "z": "e4af2e94d7e201bc",
        "name": "อุณหภูมิในดิน",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "50d2637c508f8942",
        "type": "ui-gauge",
        "z": "e4af2e94d7e201bc",
        "name": "ความชื้นในดิน",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "7617e3ca88f1c9e4",
        "type": "ui-gauge",
        "z": "e4af2e94d7e201bc",
        "name": "ค่าpHในดิน",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "3b7495fec73bbad0",
        "type": "ui-gauge",
        "z": "e4af2e94d7e201bc",
        "name": "อุณหภูมิในอากาศ",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "afb5556efb2dfb7f",
        "type": "ui-gauge",
        "z": "e4af2e94d7e201bc",
        "name": "ความชื้นในอากาศ",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1100,
        "y": 80,
        "wires": []
    },
    {
        "id": "11979ebd5f20d8f4",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "LOAD1",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "a40ec12d70c75774"
            ]
        ]
    },
    {
        "id": "b092a5480386d76b",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "LOAD2",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "1235db7dd7311154"
            ]
        ]
    },
    {
        "id": "039ff2d008248b93",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "LOAD3",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "ca629faa61fd5be9"
            ]
        ]
    },
    {
        "id": "e66ac9f3d1c3604c",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "SUNDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "f4bca395f78dc40c"
            ]
        ]
    },
    {
        "id": "d664c49c4d2c9f42",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "MONDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "54a4b55e9d4c0902"
            ]
        ]
    },
    {
        "id": "4f436a1797d0b344",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "TUESDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "1e275210054a017a"
            ]
        ]
    },
    {
        "id": "2c2e5e97e0182ee7",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "WEDNESDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "e79bc246914626bf"
            ]
        ]
    },
    {
        "id": "bda301694419db68",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "THURSDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "f6eeea1acc537d72"
            ]
        ]
    },
    {
        "id": "66d2cf96486ac905",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "FRIDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "a5b1c640449ed7fa"
            ]
        ]
    },
    {
        "id": "39ac22319bd57ccb",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "SATURDAY",
        "label": "switch",
        "group": "741cc5b5ce0e833d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "c6c8acc9d2b320da"
            ]
        ]
    },
    {
        "id": "4033ec811246442c",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ชั่วโมง1",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "d4e9cdec4c7c324d"
            ]
        ]
    },
    {
        "id": "32fa19a2b435e863",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "นาที1",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "f4ef632fb9b1563b"
            ]
        ]
    },
    {
        "id": "2b2849540f5c75c1",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ระยะเวลาทำงาน1 (นาที)",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "080edf5c95e10621"
            ]
        ]
    },
    {
        "id": "6157e58126c79463",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ชั่วโมง2",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 100,
        "y": 1400,
        "wires": [
            [
                "be08b8cfa95169a6"
            ]
        ]
    },
    {
        "id": "37caff461ebb6660",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "นาที2",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 90,
        "y": 1520,
        "wires": [
            [
                "e8b475a878dcfcad"
            ]
        ]
    },
    {
        "id": "fbd09beca1fba3a0",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ระยะเวลาทำงาน 2(นาที)",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "d73e4f373fca3a27"
            ]
        ]
    },
    {
        "id": "64b929b0fc6ea479",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ชั่วโมง3",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 100,
        "y": 1840,
        "wires": [
            [
                "5c3125bcbc590377"
            ]
        ]
    },
    {
        "id": "2620e24735fa21f2",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "นาที3",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 90,
        "y": 1960,
        "wires": [
            [
                "e8e3abe16b7678f8"
            ]
        ]
    },
    {
        "id": "708bc2b7b9bfc6c9",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "name": "ระยะเวลาทำงาน 3(นาที)",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 140,
        "y": 2100,
        "wires": [
            [
                "c9b5d95a60256fcc"
            ]
        ]
    },
    {
        "id": "1deca21265aa7fb9",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 520,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "230235d756505a80",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ตั้งเวลาครั้งที่ 1",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 520,
        "y": 980,
        "wires": []
    },
    {
        "id": "9d3f13ae87125c75",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 520,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "086ab2ac41a72b76",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 540,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e96d96173ec1b6",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 540,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "609b1cbe707d557a",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ตั้งเวลาครั้งที่ 2",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 540,
        "y": 1480,
        "wires": []
    },
    {
        "id": "dadf7e0d39e2f2f7",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 540,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "e2a03dd9de8185a7",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 560,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "0aa5aab249f3cabf",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 540,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "bdbba13d50672beb",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 560,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "0a4427bf45cdc5cc",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 560,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "708a86af44942746",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ตั้งเวลาครั้งที่ 2",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 540,
        "y": 1920,
        "wires": []
    },
    {
        "id": "98f475bf8ecae485",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1240,
        "wires": [
            [
                "7f0f86de42521e98"
            ]
        ]
    },
    {
        "id": "a5a53d6caae9bbf5",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "d8d66778a58dcf95"
            ]
        ]
    },
    {
        "id": "1aa90e2bead838e5",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "label": "switch",
        "group": "0f8e3da9b0aeebef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 790,
        "y": 1840,
        "wires": [
            [
                "e9440f81ad8eac9e"
            ]
        ]
    },
    {
        "id": "6dd43e93cc95f98b",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "94197347cc685b55",
        "name": "อุณภูมิในดิน",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 150,
        "y": 2280,
        "wires": [
            [
                "5b4a8c1cfce83e4d"
            ]
        ]
    },
    {
        "id": "e3c0163385363222",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "94197347cc685b55",
        "name": "ความชื้นในดิน",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 170,
        "y": 2380,
        "wires": [
            [
                "2dfcd66a85c099bf"
            ]
        ]
    },
    {
        "id": "c1c17f9baae17311",
        "type": "ui-text-input",
        "z": "e4af2e94d7e201bc",
        "group": "94197347cc685b55",
        "name": "ความชื้นในอากาศ",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "f8510ce0d44bdbe5"
            ]
        ]
    },
    {
        "id": "8033a4e9bf9f33f2",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "มากกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 2560,
        "wires": [
            [
                "f80c2e1bfd1c208d"
            ]
        ]
    },
    {
        "id": "30da29bff1b5ccdc",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "น้อยกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 2620,
        "wires": [
            [
                "57604ab0e66aa8dd"
            ]
        ]
    },
    {
        "id": "a90498f726d28ec3",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "มากกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "a20736896c12cbd3"
            ]
        ]
    },
    {
        "id": "2db190b9d7457b91",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "มากกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 2920,
        "wires": [
            [
                "c831a1d2ef4beee6"
            ]
        ]
    },
    {
        "id": "189fd5edf344d95d",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "น้อยกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 2800,
        "wires": [
            [
                "000a0b161642883c"
            ]
        ]
    },
    {
        "id": "af1f8ed4390942cd",
        "type": "ui-switch",
        "z": "e4af2e94d7e201bc",
        "name": "น้อยกว่า",
        "label": "switch",
        "group": "94197347cc685b55",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 3000,
        "wires": [
            [
                "13d8892096abc7ab"
            ]
        ]
    },
    {
        "id": "c086a10ebd50ad57",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 700,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "0f43c8de9349c798",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 700,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "a318807179030cc2",
        "type": "ui-notification",
        "z": "e4af2e94d7e201bc",
        "ui": "c9129ce777def3d5",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 700,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "635e2f734189bf6e",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "น้ำไม่ไหล",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "className": "",
        "x": 520,
        "y": 3120,
        "wires": []
    },
    {
        "id": "fa76866dee041539",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "น้ำไม่มี",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "className": "",
        "x": 510,
        "y": 3260,
        "wires": []
    },
    {
        "id": "334cacbb9c6dafc3",
        "type": "ui-text",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "OVERLOAD",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#717171",
        "className": "",
        "x": 530,
        "y": 3400,
        "wires": []
    },
    {
        "id": "e34c3d798f426525",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3ce706f1d76186d4",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "e34c3d798f426525"
            ]
        ]
    },
    {
        "id": "aa8beb423c318887",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "3ce706f1d76186d4"
            ],
            [
                "08da19fc08703071"
            ]
        ]
    },
    {
        "id": "08da19fc08703071",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "e34c3d798f426525"
            ]
        ]
    },
    {
        "id": "f9df903cd4cf888c",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4caf60c1a016e139",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "f9df903cd4cf888c"
            ]
        ]
    },
    {
        "id": "f10a8840a41b7520",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "4caf60c1a016e139"
            ],
            [
                "936c3e24a39e5189"
            ]
        ]
    },
    {
        "id": "936c3e24a39e5189",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 380,
        "wires": [
            [
                "f9df903cd4cf888c"
            ]
        ]
    },
    {
        "id": "83e722e14daf2130",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "0f8e3da9b0aeebef",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "398d7ecd052b103a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "83e722e14daf2130"
            ]
        ]
    },
    {
        "id": "a345caf10d806d9e",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "398d7ecd052b103a"
            ],
            [
                "353a682b1d1879e8"
            ]
        ]
    },
    {
        "id": "353a682b1d1879e8",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 460,
        "wires": [
            [
                "83e722e14daf2130"
            ]
        ]
    },
    {
        "id": "9feeea9ec374c0bd",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b888f0218f1a5bc1",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "9feeea9ec374c0bd"
            ]
        ]
    },
    {
        "id": "a1c7c3a20bac4a02",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "b888f0218f1a5bc1"
            ],
            [
                "4f3cc17fae885447"
            ]
        ]
    },
    {
        "id": "4f3cc17fae885447",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "9feeea9ec374c0bd"
            ]
        ]
    },
    {
        "id": "f8ac31a0d39ab4f3",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1300,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "de04e52a4a89a2ca",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "f8ac31a0d39ab4f3"
            ]
        ]
    },
    {
        "id": "de706f14e9ecbfed",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "de04e52a4a89a2ca"
            ],
            [
                "b7da341329ef4742"
            ]
        ]
    },
    {
        "id": "b7da341329ef4742",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 620,
        "wires": [
            [
                "f8ac31a0d39ab4f3"
            ]
        ]
    },
    {
        "id": "1e86126f163e5e5e",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "19b27028188e01ea",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 660,
        "wires": [
            [
                "1e86126f163e5e5e"
            ]
        ]
    },
    {
        "id": "7928a7ad9fe7de13",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 680,
        "wires": [
            [
                "19b27028188e01ea"
            ],
            [
                "31d38047b8a97708"
            ]
        ]
    },
    {
        "id": "31d38047b8a97708",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 700,
        "wires": [
            [
                "1e86126f163e5e5e"
            ]
        ]
    },
    {
        "id": "7a2654786a6a8e01",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1380,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e8eae1ea5de53118",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 740,
        "wires": [
            [
                "7a2654786a6a8e01"
            ]
        ]
    },
    {
        "id": "7f740b226a6447ac",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "e8eae1ea5de53118"
            ],
            [
                "818b217ba637c26c"
            ]
        ]
    },
    {
        "id": "818b217ba637c26c",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "7a2654786a6a8e01"
            ]
        ]
    },
    {
        "id": "6f863ef4c798c516",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb658600b5d46b2",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 820,
        "wires": [
            [
                "6f863ef4c798c516"
            ]
        ]
    },
    {
        "id": "dfcf3b3038dd223b",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 840,
        "wires": [
            [
                "4eb658600b5d46b2"
            ],
            [
                "55c850ace5e8b44e"
            ]
        ]
    },
    {
        "id": "55c850ace5e8b44e",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 860,
        "wires": [
            [
                "6f863ef4c798c516"
            ]
        ]
    },
    {
        "id": "709349bf83557e8c",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "741cc5b5ce0e833d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "27807ea3207901c2",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 900,
        "wires": [
            [
                "709349bf83557e8c"
            ]
        ]
    },
    {
        "id": "8186e0ddb965529b",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 920,
        "wires": [
            [
                "27807ea3207901c2"
            ],
            [
                "40ea0c048497226c"
            ]
        ]
    },
    {
        "id": "40ea0c048497226c",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 940,
        "wires": [
            [
                "709349bf83557e8c"
            ]
        ]
    },
    {
        "id": "21d31d954e9363d1",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "239f5d56c4aa4dfa",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1160,
        "wires": [
            [
                "21d31d954e9363d1"
            ]
        ]
    },
    {
        "id": "43c22853317d3ed0",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1180,
        "wires": [
            [
                "239f5d56c4aa4dfa"
            ],
            [
                "1db23d71b56111ad"
            ]
        ]
    },
    {
        "id": "1db23d71b56111ad",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1200,
        "wires": [
            [
                "21d31d954e9363d1"
            ]
        ]
    },
    {
        "id": "01848895190fe9e0",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "8861cd3031bfa83a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1540,
        "wires": [
            [
                "01848895190fe9e0"
            ]
        ]
    },
    {
        "id": "ded33a122952fcaf",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1560,
        "wires": [
            [
                "8861cd3031bfa83a"
            ],
            [
                "ddd6f6c35ea0758a"
            ]
        ]
    },
    {
        "id": "ddd6f6c35ea0758a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1580,
        "wires": [
            [
                "01848895190fe9e0"
            ]
        ]
    },
    {
        "id": "ae7a306f4effaa31",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "7826e2d8fa84ee75",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "36ad644c806471f0",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2000,
        "wires": [
            [
                "ae7a306f4effaa31"
            ]
        ]
    },
    {
        "id": "6358be2185a8dd71",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 2020,
        "wires": [
            [
                "36ad644c806471f0"
            ],
            [
                "80e2086105a6ea7a"
            ]
        ]
    },
    {
        "id": "80e2086105a6ea7a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2040,
        "wires": [
            [
                "ae7a306f4effaa31"
            ]
        ]
    },
    {
        "id": "22e2438108833140",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 3080,
        "wires": [
            []
        ]
    },
    {
        "id": "292ca4efece0cc82",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3060,
        "wires": [
            [
                "22e2438108833140"
            ]
        ]
    },
    {
        "id": "be8aa2a4266c5c54",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 3080,
        "wires": [
            [
                "292ca4efece0cc82"
            ],
            [
                "9cc7596b8c09533c"
            ]
        ]
    },
    {
        "id": "9cc7596b8c09533c",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3100,
        "wires": [
            [
                "22e2438108833140"
            ]
        ]
    },
    {
        "id": "9f2ec451916bc015",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 3220,
        "wires": [
            []
        ]
    },
    {
        "id": "47679db6039518a2",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3200,
        "wires": [
            [
                "9f2ec451916bc015"
            ]
        ]
    },
    {
        "id": "1bacfa2da5b42dbe",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 3220,
        "wires": [
            [
                "47679db6039518a2"
            ],
            [
                "2b8c672e4aa2d55f"
            ]
        ]
    },
    {
        "id": "2b8c672e4aa2d55f",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3240,
        "wires": [
            [
                "9f2ec451916bc015"
            ]
        ]
    },
    {
        "id": "361bc3a9e57a0ac9",
        "type": "ui-template",
        "z": "e4af2e94d7e201bc",
        "group": "62f9915c51f8df88",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .led {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        margin: 10px auto;\n        background-color: {{msg.color}};\n        border: 2px solid #333;\n    }\n</style>\n\n<div class=\"led\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 3340,
        "wires": [
            []
        ]
    },
    {
        "id": "46191f83361da05a",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 3320,
        "wires": [
            [
                "361bc3a9e57a0ac9"
            ]
        ]
    },
    {
        "id": "d4bc190d922f5d21",
        "type": "switch",
        "z": "e4af2e94d7e201bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 3340,
        "wires": [
            [
                "46191f83361da05a"
            ],
            [
                "6d0d073a1b7f6e90"
            ]
        ]
    },
    {
        "id": "6d0d073a1b7f6e90",
        "type": "change",
        "z": "e4af2e94d7e201bc",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 3360,
        "wires": [
            [
                "361bc3a9e57a0ac9"
            ]
        ]
    },
    {
        "id": "6f27a290b047c7d8",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc82d3e8bc9649cb",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6fc1ae40ef9694f0",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "91a4144db51e43d3",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc10238cdb4034d7",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "de3141661194d3e3",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "edf6769c68f5d42e",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 13,
        "width": 9,
        "height": 1
    },
    {
        "id": "27a84691b302b7e2",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd3f84875b1d4c25",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a444c15ec85d84b",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c8a3605517a88d4",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "6072d373732232e3",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "425294443f5b0707",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "9062b2445fdf7f41",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 26,
        "width": 9,
        "height": 1
    },
    {
        "id": "4f777851eedd9449",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 27,
        "width": 4,
        "height": 1
    },
    {
        "id": "d364588024b2e51d",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "3c9e766652a8eb88",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "1c90eda070b4307c",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 31,
        "width": 3,
        "height": 1
    },
    {
        "id": "6047d7b04081049a",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 32,
        "width": 3,
        "height": 1
    },
    {
        "id": "72adec9c32a5c49f",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 34,
        "width": 3,
        "height": 1
    },
    {
        "id": "e522072627e3a056",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 35,
        "width": 3,
        "height": 1
    },
    {
        "id": "a7a40dcf13fa7e83",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "1aef7275c95d5622",
        "order": 36,
        "width": 3,
        "height": 1
    },
    {
        "id": "4c78ca5c73b97500",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e73dd7aa099deb4",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0eca5745e7f07b83",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1d6b9032d73f2b13",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f076f47fe05c3cd4",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbcc9daff294d208",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "381ed4b18f88cad8",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 12,
        "width": 9,
        "height": 1
    },
    {
        "id": "cf02a7d3738f86b1",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "78c5c24f535f6783",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "9403d3e516705a19",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "428f3d9ef4cbc5fb",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb4966604c30c788",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "175740feb82c5441",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "2177506a340c56ab",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "84d8575a0b8d7a9e",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "86b0ff242b9b8c7f",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "f2c9488f45ee1fcc",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a9502f17ee06f8a",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "a76ca2ed26a785b3",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "e648e0630dc4620c",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "be51153df09973c3",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "5ccc0788077f18f0",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "4dd5b57f541ecfef",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "f677a1351737970a",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "3ceefd4cd69c7f10",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "eac29b7e6feaa155",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "38d96f826f53656a",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "3a14f8c0d6f56d9f",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "b9fed4d3addfb472",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "cf793bcf2125094c",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "a917860ec24468e2",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "91c6740455972dee",
        "type": "ui_spacer",
        "z": "e4af2e94d7e201bc",
        "name": "spacer",
        "group": "a917860ec24468e2",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "f63d0689d5b2b182",
        "type": "mqtt-broker",
        "name": "TEMP1",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "fac0edef8356874c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "77a5dc1caa60c135",
        "type": "mqtt-broker",
        "name": "HUMI2",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "bc2e8390c4c6b838",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6cc8ee2cb3a701be",
        "type": "mqtt-broker",
        "name": "PH3",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "a3d7a76fc253625c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "059172d997872118",
        "type": "mqtt-broker",
        "name": "TEMP4",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "4b203f9b1f82800a",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2951299fe4d6b32f",
        "type": "mqtt-broker",
        "name": "HUMI5",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "8c592d30aa71b9d0",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "956d8c5f63cd0cfb",
        "type": "mqtt-broker",
        "name": "MOTOR1",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "cf062b4389891da2",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d2b7b279f1f541f7",
        "type": "mqtt-broker",
        "name": "MOTOR2",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "9f7b1dc5d821e46d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "17897c5035894061",
        "type": "mqtt-broker",
        "name": "SUNDAY",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "e3d0071489ca3ef7",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1f77260aa5e6da41",
        "type": "mqtt-broker",
        "name": "LAMP_SATURDAY",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "eb12830e966d7ec2",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ac67fc81d042df79",
        "type": "mqtt-broker",
        "name": "LAMP_MOTOR2",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c0bf44cd3d047480",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e10f8e8c0d3bba8c",
        "type": "mqtt-broker",
        "name": "LAMP_MOTOR3",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "8b580566a2d16358",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83a367ef19d4c280",
        "type": "mqtt-broker",
        "name": "MONDAY",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "bd6d49ba731d20cd",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1245ab5b3150a922",
        "type": "mqtt-broker",
        "name": "HOUR",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "832abbd69f6a2ef5",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e6415f0370d9f5e",
        "type": "mqtt-broker",
        "name": "RUNTIME1_MINS",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "d1f60a7c2f409786",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70db94354670b709",
        "type": "mqtt-broker",
        "name": "PERIOD_TIME_1",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "5e31f8e5dcd6c44c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8386640661fdc3b2",
        "type": "mqtt-broker",
        "name": "RUNTIME1_ON_OFF",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "abcb8f7c548d0eed",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2648528be545667a",
        "type": "mqtt-broker",
        "name": "LAMP_RUNTIME1_ON_OFF",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "de746796b7cb62c3",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a9e963397f7d6f15",
        "type": "mqtt-broker",
        "name": "",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "3c2c8d36296924af",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b8308d7d21d06aa",
        "type": "mqtt-broker",
        "name": "STATUS_RUNTIME1_HOUR",
        "broker": "8c68e8a69d9348deb398a526fafbf712.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "101f4156c901c484",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f8e3da9b0aeebef",
        "type": "ui-group",
        "name": "MAIN",
        "page": "e778c0e4448741bc",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "741cc5b5ce0e833d",
        "type": "ui-group",
        "name": "วันทำงาน",
        "page": "037abe0f334b57f8",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7826e2d8fa84ee75",
        "type": "ui-group",
        "name": "ตั้งเวลาเครื่องทำงาน",
        "page": "5276e2a873564328",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c9129ce777def3d5",
        "type": "ui-base",
        "name": "dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "94197347cc685b55",
        "type": "ui-group",
        "name": "SENSOR",
        "page": "6c6520ccc2e751e5",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "62f9915c51f8df88",
        "type": "ui-group",
        "name": "แจ้งเตือน",
        "page": "70bfd30178b0ec64",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1aef7275c95d5622",
        "type": "ui_group",
        "name": "อา - ส",
        "tab": "012f5545ced46266",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2177506a340c56ab",
        "type": "ui_group",
        "name": "MAIN",
        "tab": "9f22713cfdea6cfa",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9fed4d3addfb472",
        "type": "ui_group",
        "name": "sensor control",
        "tab": "3319fcd49ec5afd4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a917860ec24468e2",
        "type": "ui_group",
        "name": "ตั้งเวลาเครื่องทำงาน",
        "tab": "0a35386a6a55bc57",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fac0edef8356874c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "bc2e8390c4c6b838",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "a3d7a76fc253625c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "4b203f9b1f82800a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "8c592d30aa71b9d0",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "cf062b4389891da2",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9f7b1dc5d821e46d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "e3d0071489ca3ef7",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "eb12830e966d7ec2",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "c0bf44cd3d047480",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "8b580566a2d16358",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "bd6d49ba731d20cd",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "832abbd69f6a2ef5",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d1f60a7c2f409786",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "5e31f8e5dcd6c44c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "abcb8f7c548d0eed",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "de746796b7cb62c3",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "3c2c8d36296924af",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "101f4156c901c484",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "e778c0e4448741bc",
        "type": "ui-page",
        "name": "MAIN",
        "ui": "c9129ce777def3d5",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "04586e1f72e4302f",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "037abe0f334b57f8",
        "type": "ui-page",
        "name": "วันทำงาน",
        "ui": "c9129ce777def3d5",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "04586e1f72e4302f",
        "order": 2,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "5276e2a873564328",
        "type": "ui-page",
        "name": "ตั้งเวลา",
        "ui": "c9129ce777def3d5",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "04586e1f72e4302f",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6c6520ccc2e751e5",
        "type": "ui-page",
        "name": "SENSOR",
        "ui": "c9129ce777def3d5",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "04586e1f72e4302f",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "70bfd30178b0ec64",
        "type": "ui-page",
        "name": "แจ้งเตือน",
        "ui": "c9129ce777def3d5",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "04586e1f72e4302f",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "012f5545ced46266",
        "type": "ui_tab",
        "name": "เลือกวันทำงาน",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f22713cfdea6cfa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3319fcd49ec5afd4",
        "type": "ui_tab",
        "name": "sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a35386a6a55bc57",
        "type": "ui_tab",
        "name": "ตั้งเวลา",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04586e1f72e4302f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
